
body{
	background-color: #FFDAB9;
	font-family: verdana;
}
.movies{
	float:left;
		width:275px;
		height: 375px;
		margin-left:20px;
		margin-right:20px;
		margin-top: 20px;
		margin-bottom: 20px;
		text-align:center;
}